<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <div class="flex items-center justify-center h-screen">
        <div class="bg-white p-8 mx-8 rounded shadow-md md:w-96 sm:w-full">
            <h2 class="text-2xl font-bold mb-4">Login</h2>
            <form action="/api/v1/auth" method="POST">
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="username">Username</label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" placeholder="Username" name="username">
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="password">Password</label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="password" type="password" placeholder="******************" name="password">
                </div>
                <div class="mb-2 flex justify-end">
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">Login</button>
                </div>
                <div class="flex justify-end">
                    <a class="align-baseline font-sm text-sm text-blue-500 hover:text-blue-800" href="/register">Register</a>
                </div>
                <div class="flex justify-end">
                    <a class="align-baseline font-sm text-sm text-blue-500 hover:text-blue-800" href="#">Forgot Password?</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
